rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == "COLOQUE-SEU-EMAIL-ADMINISTRADOR";
    }

    match /obras/{obraId} {
      allow read: if resource.data.publicada == true || isAdmin();
      allow create, update, delete: if isAdmin();
    }
  }
}
